<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
  <div class="container inner">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <h2>Register</h2>
          <ol class="breadcrumb">
           <li><a href="#">Home</a></li>            
           <li class="active">Register</li>
         </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End breadcrumb -->

<div class="mu-title" style="margin: 40px 0px;">
  <h2>Welcome!</h2>
  <p>Registered member could be able to perform lots of functionality like writing article, save you exam, score, wrong attempted Questions, also you will be able to mark the question as 'want to revisit' and filter based on toughness etc</p>
</div>

<section style="margin: 20px;" >
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3"></div>
                <div class="col-md-6 col-lg-6" style="margin-bottom:20px">
  
                  <p class="text-center h4 fw-bold mb-5 mx-1 mx-md-4 mt-4" >Fill the form to register</p>
  
                 
                  <form class="mx-1 mx-md-4"  (ngSubmit)="signup(f)" #f=ngForm >
                    
                    <fieldset ngModelGroup="AppUser" >

                    <div class="d-flex flex-row align-items-center" class="form-group">
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" placeholder="UserName"  #username="ngModel" id="username" class="form-control" name="username" ngModel required />
                        <span  *ngIf="username.invalid && username.touched" >  UserName is required</span>
                        
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4" class="form-group">
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" #FirstName="ngModel" id="FirstName" placeholder="First Name" class="form-control" name="FirstName"  ngModel required />
                        <span *ngIf="FirstName.invalid && FirstName.touched" >  FirstName is required</span>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4" class="form-group">
                      <div class="form-outline flex-fill mb-0"> 
                        <input type="email" #email="ngModel" id="email" placeholder="Your Email" class="form-control" name="email" ngModel email  required/>
                        <span *ngIf="email.invalid && email.touched"> Email is Required</span>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4" class="form-group" >
                        <div class="form-outline flex-fill mb-0">
                          <input type="number" #ContactNo="ngModel" placeholder="(xxx)-xxx-xxxx" id="ContactNo" 
                          class="form-control"  name="ContactNo"  ngModel contactValidator required/>
                          
                          <span *ngIf="ContactNo.invalid && ContactNo.touched" >Contact No is Required</span>
                          
                        </div>
                      </div>
                          </fieldset>
                    <div class="d-flex flex-row align-items-center mb-4" class="form-group">
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" #password="ngModel" placeholder="Password" class="form-control" id="password" 
                        name="Password"  ngModel passwordValidator required  />
                        <span *ngIf="password.invalid && password.touched">Password must be mininum 6 digit long</span>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center" class="form-group">
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" #ConfirmPassword="ngModel" placeholder="Repeat your password"
                        passwordValidator id="ConfirmPassword" class="form-control"   name="ConfirmPassword" ngModel required /> 
                        <span *ngIf="ConfirmPassword.invalid && ConfirmPassword.touched">ConfirmPassword does not match </span>
                      </div>
                    </div>

  
                    <div class="ml-3">
                      <input class="form-check-input" type="checkbox" checked="false" id="form2Example3c" >
                        I agree all statements in  <a href="terms">Terms of service</a>
                    </div>
  
                    <div  style="visibility: hidden;">
                        <input type="number" #Otp="ngModel" id="Otp" class="form-control"   name="Otp" ngModel />
                        
                    </div>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="mu-post-btn" >Register</button>
                    </div>
  
                  </form>
  
                </div>
      </div>
    </div>
  </section>