
  <!-- Start footer -->
  <footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top">
      <div class="container">
        <div class="mu-footer-top-area">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Information</h4>
                <ul>
                  <li><a href="about">About Us</a></li>
                  <li><a href="">Features</a></li>
                  <li><a href="">Interview Q&A</a></li>
                  <li><a href="">Sitemap</a></li>
                  <li><a href="">Term Of Use</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>We Offer</h4>
                <ul>
                  <li><a href="">Azure Certifications Practice Questions</a></li>
                  <li><a href="#">AWS Certifications Practice Questions</a></li>
                  <li><a href="">Google Certificate Practice Questions</a></li>
                  <li><a href="">Oracle Certifications Practice Questions</a></li>
                  <li><a href="">Microsoft Exam Practice Questions</a></li>                  
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>News letter</h4>
                <p>Get latest update on IT</p>
                <form class="mu-subscribe-form">
                  <input type="email" placeholder="Type your Email">
                  <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
                </form>               
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Contact</h4>
                <address>
                  <p>Greater Noida West, U.P</p>
                  <!-- <p>Phone: (415) 453-1568 </p> -->
                  <p>Website: <a href="https://1stResume.com" target="_blank" style="color: white;"> https://1stResume.com</a></p>
                  <p>Email: info@1stResume.com</p>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p>&copy; All Right Reserved.</p>
        </div>
      </div>
    </div>
    <!-- end footer bottom -->
  </footer>
  <!-- End footer -->
