<div class="container">


  
  <div class="row">
    <div class="Form group">


      <div *ngIf="!edit;else editTemp">
        <div class="row border1">
          <div class="col-sm-8">
            <p class=" h4" style="margin-right: 50px;">PERSONAL INFO
              <span style="float: right">
                <a>
                  <i class="fa fa-edit" (click)="editform()" style="font-size:32px;color:green"></i>
                </a>

              </span>
            </p>
          </div>
        </div>
        
        <div class="row border1">
          <div class="col-sm-2">
            DisplayName:
            
          </div>
          <div class="col-sm-2">
            {{d.DisplayName}}
          </div>

          <div class="col-sm-2">
            DOB:
          </div>
          <div class="col-sm-2">
            {{d.DOB}}
          </div>
        </div>

        <div class="row border1">
          <div class="col-sm-2">
            Gender:
          </div>
          <div class="col-sm-2">
            {{d.Gender}}
          </div>

          <div class="col-sm-2">
            City:
          </div>
          <div class="col-sm-2">
            {{d.City}}
          </div>
        </div>
        <div class="row border1">
          <div class="col-sm-2">
            Zipcode:
          </div>
          <div class="col-sm-2">
            {{d.ZipCode}}
          </div>

          <div class="col-sm-2">
            Nationality:
          </div>
          <div class="col-sm-2">
            {{d.Nationality}}
          </div>
        </div>

        <div class="row border1">
          <div class="col-sm-2">
            Email:
          </div>
          <div class="col-sm-2">
            {{d.Email}}
          </div>
          <!-- </div> -->

          <!-- <div class="row"> -->
          <div class="col-sm-2">
            AlternateEmail:
          </div>
          <div class="col-sm-2">
            {{d.AlternateEmail}}
          </div>
        </div>
        <div class="row border1">
          <div class="col-sm-2">
            PhoneNo:
          </div>
          <div class="col-sm-2">
            {{d.code}}
          <!-- </div>
          <div class="col-sm-2"> -->
            {{d.PhoneNO}}
          </div>

          <div class="col-sm-2">
            AlternatePhoneNO:
          </div>
          <div class="col-sm-2">
            {{d.country}}
          <!-- </div>
          <div class="col-sm-2"> -->
            {{d.AlternatePhoneNo}}
          </div>
        </div>

        <div class="row border1">
          <div class="col-sm-2">
            AboutMe:
          </div>
          <div class="col-sm-7">
            {{d.AboutMe}}
          </div>
        </div>
        <div class="row border1">
          <div class="col-sm-2">
            SummaryText:
          </div>
          <div class="col-sm-7">
            {{d.SummaryText}}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4" style="margin-top: 10px;">
            <!-- <a >Back</a> -->
          </div>

          <div class="col-sm-4" style="margin-top: 10px;">
            <a routerLink="/new-resume/qualification">Next</a>
          </div>
        </div>



      </div>
    </div>
  </div>


  
  <ng-template #editTemp>
    <form class="contactform" (ngSubmit)="formsubmit(f)" #f="ngForm">

      <div class="row form-group">
        <div class="col-sm-12 ">
          <label>Gender</label><br>
          <input type="radio"  name="Gender" id="male" title="asdf" value="30">
          <label for="male">Male</label><br>
          <input type="radio" name="Gender" id="female" title="asdf" value="30">
          <label for="female">Female</label><br>
        </div>
      </div>
      <div  class="row form-group">
        <div class="col-sm-4"> 
          <label>DisplayName*</label>
          <input type="text" [(ngModel)]="d.DisplayName" required name="DisplayName" #DisplayName="ngModel"
            class="form-control" placeholder="DisplayName">
        </div>
      <div class="col-sm-4 form-group ">
        <label>DOB</label>
        <input type="date" [(ngModel)]="d.DOB" required name="DOB" #DOB="ngModel" class="form-control"
          placeholder="DOB"> 
        
      </div>
      </div>

      <div  class="row form-group">
        <div class="col-sm-4"> 
          <label>Email</label>
          <input type="email" [(ngModel)]="d.Email" required emailValidator name="Email" #Email="ngModel" class="form-control"
            placeholder="Email">
        </div>
      <div class="col-sm-4 form-group">
        <label>AlternateEmail</label>
          <input type="email" [(ngModel)]="d.AlternateEmail" required name="AlternateEmail" #AlternateEmail="ngModel"
            class="form-control" placeholder="AlternateEmail"> 
        
      </div>
      </div>
      <div  class="row form-group">
        <div class="col-sm-4"> 
          <label>Zipcode*</label>
          <input type="text" [(ngModel)]="d.ZipCode" required name="ZipCode" #ZipCode="ngModel" class="form-control"
            placeholder="ZipCode">
        </div>
      <div class="col-sm-4 form-group">
        <label>City*</label>
          <input type="text" [(ngModel)]="d.City" required name="City" #City="ngModel" class="form-control"
            placeholder="City"> 
        
      </div>
      </div>
      <div  class="row form-group">
        <div class="col-sm-4"> 
          <label>Nationality*</label>
          <select [(ngModel)]="d.Nationality" required name="Nationality" #Nationality="ngModel" class="form-control"
            placeholder="Nationality">
            <option value="select">--Select--</option>
            <option *ngFor="let item of countryList">{{item}}</option>
         
          </select>
        </div>
      <div class="col-sm-2 form-group">
        <label>Tel-Code:</label>
        <select [(ngModel)]="d.code" required conactValidator name="code" #code="ngModel" class="form-control"
        placeholder="code">
        <option *ngFor="let item of c">{{item}}</option>
        <!-- <option value="+92">+92</option>
        <option value="+1">+1</option> -->
        </select>
      </div>
      <div class="col-sm-2 form-group">
        <label>PhoneNo</label>
        <input type="number" [(ngModel)]="d.PhoneNO" required contactValidator name="PhoneNO" #PhoneNO="ngModel" class="form-control"
        placeholder="PhoneNO">
        
      </div>
      </div>
      <div  class="row form-group">
        <div class="col-sm-2"> 
          <label>Tel-Code:</label>
          <select [(ngModel)]="d.country"  name="country"
            #country="ngModel" class="form-control" placeholder="optional">
            <option *ngFor="let item of c">{{item}}</option>
        </select>
        
          </div>
        <div class="col-sm-2"> 
          <label>AlternatePhoneNO</label>
          <input type="number" [(ngModel)]="d.AlternatePhoneNo"  name="AlternatePhoneNo"
            #AlternatePhoneNo="ngModel" class="form-control" placeholder="optional">
        </div>
        </div> 
     
      
      <div class="row" class="form-group">
        <div class="col-sm-4">
          
         
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-8">
          <label>AboutMe</label>
          <textarea rows="2" cols="4" [(ngModel)]="d.AboutMe" required name="AboutMe" #AboutMe="ngModel"
            class="form-control" placeholder="AboutMe">
                              </textarea>
        </div>

      </div>
      <div class="row form-group">
        <div class="col-sm-8">
          <label>Summarytext</label>
          <textarea rows="2" cols="4" [(ngModel)]="d.SummaryText" required name="SummaryText" #SummaryText="ngModel"
            class="form-control" placeholder="SummaryText">
                                </textarea>
        </div>
      </div>  
      <p class="form-submit">
        <input type="submit">
        <!-- <input type="submit" class="mu-fulllength-btn-invalid" [class.mu-fulllength-btn]="f.valid" [disabled]="!f.valid"> -->
      </p>
    </form>
  </ng-template>
</div>