
<div class="about">

    <div class="about-1">
        <img src="assets/about.jpg" width="1090">
        
    </div>
  
    <div class="content">
    <h2>Education Learning</h2>
  </div>

  <div class="main-2">
      <div class="main-2-3">
        <img src="../../assets/photo1.jpg" width="400px" height="295px">
         
      
        </div>
      <div class="main-2-4">
        <b>A learning experience</b> <p>is content that builds skills and behaviors.
          This type of eLearning content is instrumental in changing perceptions.
           Unlike performance support, which quickly meets a learner's demand for knowledge, 
         learning experiences transform behaviors over a longer time.
         Classroom-based learning certainly serves a purpose, 
         but there'll be times when you want to introduce new learning experiences in your course.
          The type of experiences you create will depend on the skills and behaviors you are trying to develop. 
          For example, you might want to improve a learner's practical skills –skills that relate to the application of theory and knowledge– and soft skills like communication, 
         or behaviors, such as the consideration of ethics or safety before a decision is made.</p>
      </div>

  </div>  

  <!-- <div class="main-3">
    <div class="3-1">
      <img src="">
    </div>
  </div> -->

</div>