<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="text-align: left;margin: 20px;background-color: white;border-radius: 5px;">
                <ul id="menu">
                    <li><a routerLink="/dashboard" routerLinkActive="activeLink">My dashboard</a></li>
                    <li><a style="color: #01bafd;" routerLink="/new-resume/personal-info">Create New Resume</a></li>
                    <li><a routerLink="/new-cover-letter" routerLinkActive="activeLink">Create New Cover Letter</a></li>
                    <li><a routerLink="/my-resumes" routerLinkActive="activeLink">My Resume</a></li>
                    <li><a routerLink="/my-cover-letters" routerLinkActive="activeLink">My Cover Letter</a></li>
                    <li><a routerLink="/my-blogs" routerLinkActive="activeLink">My Blogs</a></li>
                    <li><a routerLink="/my-certificates" routerLinkActive="activeLink" >My Certificates</a></li>
                    <li><a routerLink="/my-tests" routerLinkActive="activeLink">My Tests</a></li>
                </ul>
            </div>
            <div class="col-md-8" style="text-align: left;padding: 20px;margin: 20px;background-color: white;border-radius: 5px;">
              
                <div style="display: flex;justify-content: space-around;">
                    <div>
                        <div  style="background-color: green; border-radius: 25%;width: 15px;height: 15px;margin-left: auto;margin-right: auto;"></div> 
                       Personal Info
                    </div>
                    <div>
                        <div style="background-color: green;border-radius: 25%;width: 15px;height: 15px;margin-left: auto;margin-right: auto;"></div> 
                        Qualification
                    </div>
                    <div>
                    <div style="background-color: green;border-radius: 25%;width: 15px;height: 15px;margin-left: auto;margin-right: auto;"></div> 
                    Experience
                    </div>
                    <div>
                        <div style="background-color: green;border-radius: 25%;width: 15px;height: 15px;margin-left: auto;margin-right: auto;"></div> 
                        Language
                    </div>
                </div>
                <hr/>
                    <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>