<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="text-align: left;margin: 20px;background-color: white;border-radius: 5px;">
                <ul id="menu">
                    <li routerLink="/dashboard">My dashboard</li>
                    <li routerLink="/new-resume/personal-info" >Create New Resume</li>
                    <li routerLink="/new-cover-letter" >Create New Cover Letter</li>
                    <li routerLink="/my-resumes" >My Resume</li>
                    <li style="color: #01bafd;" routerLink="/my-cover-letters" >My Cover Letter</li>
                    <li routerLink="/my-blogs" >My Blogs</li>
                    <li routerLink="/my-certificates" >My Certificates</li>
                    <li routerLink="/my-tests" >My Tests</li>
                </ul>
            </div>
            <div class="col-md-8" style="text-align: left;margin: 20px;background-color: white;border-radius: 5px; min-height: 500px;">
                <h4 style="border-bottom: 2px solid green; margin-top: 25px;">My Cover Letter </h4>
                <p style="font-weight: bolder; font-size: 25px;">
                  404  No Cover Letter found
                </p>
            </div>
        </div>
    </div>
</div>