<div *ngIf="!editOther;else editOtherTemp">
  <div class="row border1">
   
    
<span style="float: right">
<a>
<i class="fa fa-edit" (click)="editform()" style="font-size:32px;color:green"></i>
</a>

</span>
      
    </div>
 
<div class="row">  
  <div class="col-md-4">
<label> Email</label>
</div>
<div class="col-md-4">
{{item.Email}}
</div>
<div class="col-md-4">
<a style="cursor:pointer; color:lightblue;" routerLink="/Profile"> EmailVerified</a>
</div>
</div>
<div class="row">
<div class="col-md-4">
<label> EmailVerified</label>
</div>
<div class="col-md-6">
{{item.EmailVerify}}  
</div>
</div>
<div class="row">
<div class="col-md-4">
<label> Mobile No </label>
</div>
<div class="col-md-6">
{{item.CountryCode}} {{item.MobileNo}}
</div>
</div>
<div class="row">
<div class="col-md-4">
<label>Occuption </label>
</div>
<div class="col-md-6">
{{item.Occuption}} 
</div>
</div>

<div class="row">
<div class="col-md-4">
<label> City</label>
</div>
<div class="col-md-6">
{{item.City}}
</div>
</div>
<div class="row">
<div class="col-md-4">
<label> Country</label>
</div>
<div class="col-md-4">
{{item.CountryCode}} {{item.Country}}
</div>
</div>
<div class="row">
<div class="col-md-4">
<label> Password Change</label>
</div>
<div class="col-md-4">

<a  routerLink="/reset" routerLinkActive='active' 
style="cursor: pointer; color: lightpink;">Password Change</a>
</div>
</div>
</div>





<ng-template #editOtherTemp>
<p class=" h4" style="margin-right: 50px;">Profile INFO</p>
<form class="contactform" (ngSubmit)="formsubmit(f)" #f="ngForm">


<div  class="row form-group">
<div class="col-sm-4"> 
<label>Mobile No</label>
<input type="text" [(ngModel)]="item.MobileNo" required name="MobileNo" #MobileNo="ngModel"
class="form-control" placeholder="MobileNo">
</div>
<div class="col-sm-4 form-group ">
<label>Occuption</label>
<input type="text" [(ngModel)]="item.Occuption" required name="Occuption" #Occuption="ngModel" 
class="form-control" placeholder="Occuption"> 

</div>
</div>
<div  class="row form-group">
<div class="col-sm-4"> 
<label>City</label>
<input type="text" [(ngModel)]="item.City" required name="City" #City="ngModel"
class="form-control" placeholder="City">
</div>
<div class="col-sm-4 form-group ">
<label>CountryCode</label>
<input type="text" [(ngModel)]="item.CountryCode" required name="CountryCode" 
#CountryCode="ngModel" 
class="form-control" placeholder="Occuption"> 

</div>
<div class="col-sm-4 form-group ">
<label>Country</label>
<input type="text" [(ngModel)]="item.Occuption" required name="Occuption" #Occuption="ngModel" 
class="form-control" placeholder="Occuption"> 

</div>
</div>
<p class="form-submit">
<input type="submit" value="Save" class="mu-post-btn">
</p>
</form>
</ng-template>
