<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="text-align: left;margin: 20px;background-color: white;border-radius: 5px;">
                <ul id="menu">
                    <li routerLink="/dashboard">My dashboard</li>
                    <li routerLink="/new-resume/personal-info" >Create New Resume</li>
                    <li routerLink="/new-cover-letter" >Create New Cover Letter</li>
                    <li routerLink="/my-resumes" >My Resume</li>
                    <li routerLink="/my-cover-letters" >My Cover Letter</li>
                    <li routerLink="/my-blogs" >My Blogs</li>
                    <li  style="color: #01bafd;" routerLink="/my-certificates" >My Certificates</li>
                    <li routerLink="/my-tests" >My Tests</li>
                </ul>
            </div>
            <div class="col-md-8" style="text-align: left;margin: 20px;background-color: white;border-radius: 5px;">
              <h4> My Certificates</h4>
               <hr />
            </div>
        </div>
    </div>
</div>