


   <!-- <p>{{d.SummaryText}}</p> -->


   <div class="container">
    <div class="row">
        <div class="Form group" >
             
      
                 <div  *ngIf="!edit;else editTemp">
                  <div class="row border1">
                    <div class="col-sm-8">
                  <p class=" h4" style="margin-right: 50px;">EXPERIENCE
                  <span style="float: right">
                    <a >
                      <i class="fa fa-edit" (click)="editform()"style="font-size:32px;color:green"></i>
                    </a>

                  </span>
                  </p>
                </div>
                </div>
                  <br>
          <div class="row">
            <div class="col-sm-2" style="font-weight: bolder;">
              Position:
            </div>
          <div class="col-sm-2">
          {{experi.Position}}
          </div>
          <!-- </div> -->
          <!-- <div class="row"> -->
            <div class="col-sm-2" style="font-weight: bolder;">
              Responsibilities:
            </div>
          <div class="col-sm-2">
          {{experi.Responsibilities}}
          </div>
          </div>
          <div class="row">
            <div class="col-sm-2" style="font-weight: bolder;">
              Province:
            </div>
          <div class="col-sm-2">
          {{experi.Province}}
          </div>
          <!-- </div> -->
          <!-- <div class="row"> -->
              <div class="col-sm-2" style="font-weight: bolder;">
                City:
              </div>
            <div class="col-sm-2">
            {{experi.City}}
            </div>
            </div>
        
          <div class="row">
            <div class="col-sm-2" style="font-weight: bolder;">
              Country:
            </div>
          <div class="col-sm-2">
          {{experi.Country}}
          </div>
          <!-- </div> -->
     
            <!-- <div class="row"> -->
              <div class="col-sm-2" style="font-weight: bolder;">
                ZipCode:
              </div>
            <div class="col-sm-2">
            {{experi.ZipCode}}
            </div>
            </div>
              
               
                
                <div class="row">
                  <div class="col-sm-2" style="font-weight: bolder;">
                    OrganizationUrl:
                  </div>
                <div class="col-sm-8">
                {{experi.OrganizationUrl}}
                </div>
                </div>
                <!-- </div>  -->
                  
                  <div class="row">
                    <div class="col-sm-2" style="font-weight: bolder;">
                      OrganizationName:
                    </div>
                  <div class="col-sm-8">
                  {{experi.OrganizationName}}
                  </div>
                  </div> 
                    
                    <div class="row">
                      <div class="col-sm-2" style="font-weight: bolder;">
                        ExperienceFrom:
                      </div>
                    <div class="col-sm-2">
                    {{experi.ExperienceFrom}}
                    </div>
                    <!-- </div>  -->
                      
                      <!-- <div class="row"> -->
                        <div class="col-sm-2" style="font-weight: bolder;">
                          ExperienceTo:
                        </div>
                      <div class="col-sm-2">
                      {{experi.ExperienceTo}}
                      </div>
                      </div> 
                        
                  <br><br>      
                        <div class="row">
                   
  
                          <div class="col-sm-4">
                              <a  routerLink="/new-resume/qualification" class="mu-post-btn">Back</a>
                              </div>
                          <div class="col-sm-4">
                              <a routerLink="/new-resume/language" class="mu-post-btn">Next</a>
                              </div>
                              
                            </div>
        


       
    </div>
    </div>
</div>
<ng-template #editTemp>
  <p class=" h4" style="margin-right: 50px;">EXPERIENCE</p>
  <br>
  <form class="contactform" (ngSubmit)="formsubmit(f)" #f="ngForm">
    <div class="row form-group">
      <div class="col-sm-4">
        <label>Position*</label>
        <input type="text" [(ngModel)]="experi.Position" required name="Position" #Position="ngModel" class="form-control" placeholder="Position">
        
      </div>
      <div class="col-sm-4">
        <label>Responsibilities</label> 
        <input type="text" [(ngModel)]="experi.Responsibilities" required name="Responsibilities" #Responsibilities="ngModel" class="form-control" placeholder="Responsibilities">
       
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label>Province</label> 
        <input type="text" [(ngModel)]="experi.Province" required name="Province" #Province="ngModel" class="form-control" placeholder="Province">
        </div>
        <div class="col-sm-4">
          <label>City</label> 
          <input type="text" [(ngModel)]="experi.City" required name="City" #City="ngModel" class="form-control" placeholder="City">
          
        </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4">
            <label>Country</label>   
            <select name="Country" id="countryList" [(ngModel)]="experi.Country" required  class="form-control">       
                  <option   *ngFor="let item of countryList"  >{{item}}</option>
                </select>
                </div>
          <div class="col-sm-4">
            <label>ZipCode</label> 
            <input type="text" [(ngModel)]="experi.ZipCode" required name="ZipCode" #ZipCode="ngModel" class="form-control" placeholder="ZipCode">
           
          </div>      
           </div>
           <div class="row form-group">
            <div class="col-sm-4">
            <label>OrganizationUrl*</label>
            <input type="text" [(ngModel)]="experi.OrganizationUrl" required name="OrganizationUrl" #OrganizationUrl="ngModel" class="form-control" placeholder="OrganizationUrl">          
            </div>
            <div class="col-sm-4">
              <label>OrganizationName*</label>
              <input type="text" [(ngModel)]="experi.OrganizationName" required name="OrganizationName" #OrganizationName="ngModel" class="form-control" placeholder="OrganizationName">
            </div>
              </div>    
              <div class="row form-group">
                <div class="col-sm-4">
                  <label>ExperienceFrom</label>
                  <input type="date" [(ngModel)]="experi.ExperienceFrom" required name="ExperienceFrom" #ExperienceFrom="ngModel" class="form-control" placeholder="ExperienceFrom">
              </div>
            <div class="col-sm-4">
              <label>ExperienceTo</label>
              <input type="date" [(ngModel)]="experi.ExperienceTo" required name="ExperienceTo" #ExperienceTo="ngModel" class="form-control" placeholder="ExperienceTo">
              
            </div>  
            </div>     
      
    <p class="form-submit">
      <input type="submit" >
      <!-- <input type="submit" class="mu-fulllength-btn-invalid" [class.mu-fulllength-btn]="f.valid" [disabled]="!f.valid"> -->
    </p>
  </form>
</ng-template>
</div>





                  