
<!--START SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#">
  <i class="fa fa-angle-up"></i>      
</a>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<simple-notifications></simple-notifications>
<!-- END SCROLL TOP BUTTON -->
<!-- <div class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row mb-3" style="margin-top: 90px;">
    <div  class="col-md-1 col-lg-1 col-sm-1"></div>
    <div  class="col-md-10 col-lg-10 col-sm-10">
         <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
<simple-notifications></simple-notifications> -->

