
  
  .login-form {
    background: #fbfbfb;
    border-radius: 0px 12px 12px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .login_form_in {
    padding: 4em 1em;
  }
  .login-form h1 {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    color: #969696;
    line-height: 1.5em;
    padding: 1.2em 0px .8em;
  }
  
  
      
  