    <div class="container">

            
            <div  class="col-md-12 login-form ckd">
                <div class="login_form_in">
                    
                  <h1 class="auth_title text-left">Password Reset</h1>
                  <form (ngSubmit)="formsubmit(f)" #f="ngForm">
                   <div class="row">
                       <div class="col-md-6">
                           <label>Email</label>
                       </div>
                       <div class="col-md-6">
                        {{item.Email}}
                    </div>
                   </div>
                    
                    <div class="row form-group">
                        <div class="col-md-6">
                        <label>Current password</label>
                    </div>
                    <div class="col-md-6  ">
                      <input type="password" class="form-control" ngModel required name="CurrentPassword"
                       placeholder="CurrentPassword">
                    </div></div>
                    <div class="row form-group">
                        <div class="col-md-6">
                        <label>New password</label>
                    </div>
                    <div class="col-md-6  ">
                      <input type="password" class="form-control" ngModel required
                      name="NewPassword" placeholder="NewPassword">
                    </div></div>
                    <div class="row form-group">
                        <div class="col-md-6">
                        <label>Confirm password</label>
                    </div>
                    <div class="col-md-6  ">
                      <input type="password" class="form-control" ngModel  required
                      name="ConfirmPassword" placeholder="ConfirmPassword">
                    </div></div>
                    <div class="form-group">
                      <button type="submit" class="mu-fulllength-btn-invalid" [class.mu-fulllength-btn]="f.valid" [disabled]="!f.valid">Reset Password</button>
                      <p style="position: relative; left: 90px; font-weight: bolder; cursor: pointer; text-decoration: underline; font-size: 12px;" > <span routerLink="/profile">Back</span></p> 
                    </div>
                        
                  </form>
                </div>
            </div>       
         

        </div>