<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>Profile</h2>
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Profile</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  
  <!-- Start contact  -->
  <section id="mu-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">
            <!-- start title -->
            <div class="mu-title">
              <h2>Details</h2>
            </div>
            <!-- end title -->
            <!-- start contact content -->
            <div class="mu-contact-content">
              <div class="row">
                <div class="col-md-4">
                    <div *ngIf="!edit;else editTemp">
                        <img src="{{user.photoURL}}" class="rounded-circle">
                        <br/>
                        <br/>
                        <p><b>Name : </b>{{user.displayName}}</p>
                        <button class="btn btn-success" style="width: 100%;" (click)="ToEdit()">Edit</button>
                    </div>
                      <ng-template #editTemp>
                    <form class="contactform" (ngSubmit)="formsubmit(f)" #f="ngForm">
                      <div class="d-flex flex-row align-items-center mb-4" class="form-group">
                        <div class="form-outline flex-fill mb-0"> 
                            <img src="{{user.photoURL}}" *ngIf="!image" class="rounded-circle">
                            <img src="{{image}}" *ngIf="image" class="rounded-circle">
                        <input type="file" class="btn btn-success" style="width: 100%;" accept='image/*' name="files" ngModel (change)="SaveFiles($event)">
                        <span style="font-size: 11px;">Imapge size should be max 150x150</span>
                        </div></div>
  
                      <div class="d-flex flex-row align-items-center mb-4" class="form-group">
                        <div class="form-outline flex-fill mb-0"> 
                        <input type="text" ngModel required name="name" #name="ngModel" class="form-control" placeholder="your name">
                        </div></div>
  
                      <p class="form-submit">
                        <input type="submit" >
                        <!-- <input type="submit" class="mu-fulllength-btn-invalid" [class.mu-fulllength-btn]="f.valid" [disabled]="!f.valid"> -->
                      </p>
                    </form>
                </ng-template>
                </div>
                <div class="col-md-8">
                  <div class="mu-contact-right">
                    <!-- Starting of other -->
                    <div *ngIf="!editOther;else editOtherTemp">
                        <div class="row border1">
                         
                          
                      <span style="float: right">
                      <a>
                      <i class="fa fa-edit" (click)="editform()" style="font-size:32px;color:green"></i>
                      </a>
                      
                      </span>
                            
                          </div>
                       
                      <div class="row">  
                        <div class="col-md-4">
                      <label> Email</label>
                      </div>
                      <div class="col-md-4">
                      {{item.Email}}
                      </div>
                      <div class="col-md-4">
                      <a style="cursor:pointer; color:lightblue;" 
                      (click)="emailVerify()" routerLink="/Profile"> EmailVerified</a>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-4">
                      <label> EmailVerified</label>
                      </div>
                      <div class="col-md-6">
                      {{item.EmailVerify}}  
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-4">
                      <label> Mobile No </label>
                      </div>
                      <div class="col-md-6">
                      {{item.CountryCode}} {{item.MobileNo}}
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-4">
                      <label>Occuption </label>
                      </div>
                      <div class="col-md-6">
                      {{item.Occuption}} 
                      </div>
                      </div>
                      
                      <div class="row">
                      <div class="col-md-4">
                      <label> City</label>
                      </div>
                      <div class="col-md-6">
                      {{item.City}}
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-4">
                      <label> Country</label>
                      </div>
                      <div class="col-md-4">
                      {{item.CountryCode}} {{item.Country}}
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-4">
                      <label> Password Change</label>
                      </div>
                      <div class="col-md-4">
                      
                      <a  routerLink="/reset" routerLinkActive='active' 
                      style="cursor: pointer; color: lightpink;">Password Change</a>
                      </div>
                      </div>
                      </div>
                      
                      
                      
                      
                      
                      <ng-template #editOtherTemp>
                      <p class=" h4" style="margin-right: 50px;"></p>
                      <form class="contactform" (ngSubmit)="formsubmit(f)" #f="ngForm">
                      
                      <div class="row">
                          <div class="col-sm-4">
                              <label>Email</label>
                          </div>
                          <div class="col-sm-4">
                              {{item.Email}}
                          </div>
                      </div>

                      <div  class="row form-group">
                      <div class="col-sm-4"> 
                      <label>Mobile No</label>
                      </div>
                      <div class="col-sm-2 form-group ">  
                        <select [(ngModel)]="item.CountryCode" required name="CountryCode" 
                        #CountryCode="ngModel" 
                        class="form-control" placeholder="Occuption"> 
                        <option *ngFor="let item of items">{{item}}</option>
                      </select>
                      </div>
                      <div class="col-sm-3">
                      <input type="text" [(ngModel)]="item.MobileNo" required name="MobileNo" #MobileNo="ngModel"
                      class="form-control" placeholder="MobileNo">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4 form-group ">
                      <label>Occuption</label>
                    </div>
                      <div class="col-sm-5">
                      <input type="text" [(ngModel)]="item.Occuption" required name="Occuption" #Occuption="ngModel" 
                      class="form-control" placeholder="Occuption"> 
                      
                      </div>
                    </div>

                      <div  class="row form-group">
                      <div class="col-sm-4"> 
                      <label>City</label></div>
                      <div class="col-sm-5">
                      <input type="text" [(ngModel)]="item.City" required name="City" #City="ngModel"
                      class="form-control" placeholder="City">
                      </div>
                      </div>
                      <div class="row">
                      
                    </div>
                      <div class="row">
                      <div class="col-sm-4 form-group ">
                      <label>Country</label></div>
                      <div class="col-sm-5">
                      <input type="text" [(ngModel)]="item.Country" required name="Country" #Country="ngModel" 
                      class="form-control" placeholder="Country"> 
                    </div>
                      </div>
                      
                      <p class="form-submit">
                      <input type="submit" value="Save" class="mu-post-btn">
                      </p>
                      </form>
                      </ng-template>
                      
                    <!-- end of other -->
                  </div>
                </div>
              </div>
            </div>
            <!-- end contact content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End contact  -->