<h6>Registration and Accounts</h6>

<p>  *Any Visitor can view the Website, but in order to participate fully in all activities on the Website and 
    take part in the Online Content and Courses, you must register for a personal 
    account on the Website (a “Learner Account”) by providing a name, an email address and a password. You agree that you will never divulge or share 
    access or your access information to your Learner Account with any third party for any reason. </p>

    <p>*By registering with FutureLearn for a Learner Account, 
     you agree (in addition to the Acceptable Use Conditions above) that you:</p>   

     <p>*are, and will continue to be,
          registered for the Website only once and will not set up multiple Learner Accounts</p>