
<div class="container">
    <div *ngIf="!edit;else editTemp"  style="margin-bottom:20px">

      <div class="row border1">
        <div class="col-sm-8">
      <p class=" h4" style="margin-right: 50px;" >LANGUAGE
      <span style="float: right">
        <a >
          <i class="fa fa-edit" (click)="editform()"style="font-size:32px;color:green"></i>
        </a>

      </span>
      </p>
    </div>
    </div>
      
          
        <div  class="row">
          <div class="col-sm-3">
            <label>IsMotherTongue</label>
          </div>
          <div class="col-sm-3">
            {{item[0].IsMotherTongue}}
            </div>
          <div class="col-sm-3">
            <label>LanguageName</label>
          </div>
          <div class="col-sm-3">
            {{item[0].LanguageName}}
            </div>
          </div>
       
         <div  class="row">
          <div class="col-sm-3">
            <label>Listening</label>
          </div>
          <div class="col-sm-3">
            {{item[0].Listening}}
            </div>
          <!-- </div> -->
             <!-- <div>
              
  <span class="fa fa-star" (click)="rateProduct($event)" id="1"></span>    
            
  <span class="fa fa-star" (click)="rateProduct($event)" id="2"></span>
  <span class="fa fa-star" (click)="rateProduct($event)" id="3"></span>
  <span class="fa fa-star" (click)="rateProduct($event)" id="4"></span>
  <span class="fa fa-star" (click)="rateProduct($event)" id="5"></span>
            </div>    -->
            <!-- </div>                        
        </div>
           -->
           <!-- <div  class="row"> -->
            <div class="col-sm-3">
              <label>Reading</label>
            </div>
            <div class="col-sm-3">
              {{item[0].Reading}}
              </div>
            </div>
            <div  class="row">
              <div class="col-sm-3">
                <label>Speaking</label>
              </div>
              <div class="col-sm-3">
                {{item[0].Speaking}}
                </div>
              <!-- </div> -->
              <!-- <div  class="row"> -->
                <div class="col-sm-3">
                  <label>Writing</label>
                </div>
                <div class="col-sm-3">
                  {{item[0].Writing}}
                  </div>
                </div>

        <!-- <ng-container *ngFor="let rateVal of [5, 4, 3, 2, 1]">
          {{rateVal}}
          <input (click)="rateProduct(rateVal)" [id]="'star'+rateVal" [value]="rateVal-0.5" name="rating" type="radio" />
          <label class="full" [for]="'star'+rateVal"></label>
          {{rateVal-0.5}}
          <input (click)="rateProduct(rateVal-0.5)" [value]="rateVal-0.5" [id]="'halfstar'+rateVal" name="rating" type="radio" />
          <label class="half" [for]="'halfstar'+rateVal"></label>
        </ng-container>
        
        <hr/>
        
        <div class="crop"
             [style.width.px]="starWidth">
          <div style="width: 75px">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div> -->
         
              

        
          <div class="row">
        <div class="col-sm-6">
          <a routerLink="/new-resume/experience">Back</a>
          </div>
        
        
        
      </div>
      

    
    
  </div>

  
  <ng-template #editTemp >
   

    <form [formGroup]="languageForm" (ngSubmit)="onSubmit()">

      <div class="row ">
        <div class="col-sm-4">
          <label>IsMotherTongue</label>
          <input type="text" [(ngModel)]="item[0].IsMotherTongue"  class="form-group" formControlName="IsMotherTongue">
        </div>
        <div class="col-sm-4">
          <label>LanguageName</label>
          <select [(ngModel)]="item[0].LanguageName" name="LanguageName" formControlName="LanguageName">
            <option *ngFor="let item of lang">{{item}}</option>
              </select>        
        </div>
          </div>
          <div class="row ">
            <div class="col-sm-4">
              <label>Listening</label>      
              <select [(ngModel)]="item[0].Listening" name="Listening" formControlName="Listening">
                <option *ngFor="let item of list">{{item}}</option>
        
              </select>
            </div>
          <div class="col-sm-4">
            <label>Reading</label>
            <select [(ngModel)]="item[0].Reading" name="Reading" formControlName="Reading">
              <option *ngFor="let item of Read">{{item}}</option>
                 </select>
          </div>  
              </div>
              <div class="row ">
                <div class="col-sm-4">
                  <label>Speaking</label>
                  <select [(ngModel)]="item[0].Speaking" name="Speaking" formControlName="Speaking">
                    <option *ngFor="let item of sprek">{{item}}</option>
                      </select>
                </div>
                <div class="col-sm-4">
                  <label>Writing</label>
                  <select [(ngModel)]="item[0].Writing" name={{Write}}  formControlName="Writing">
          
                    <option *ngFor="let item of Write">{{item}}</option>
                  </select>
                </div>
                  </div>      


     
     <div>
       <div class="form-group" formArrayName="Skills">
         <label>skills</label>
         <ng-container *ngFor="let skill in  languageForm.get('Skills')">
         <input type="text" class="form-control" autocomplete="off" >
        </ng-container>
       <button type="button" class="btn btn-primary" style="cursor: pointer;">+Add</button>
     </div>
    </div>
      <p>
        <button type="submit">Submit</button>
      </p>
     <p>
       <button type="button" routerLink="/full-resume">Final Submit</button>
     </p>
    </form>

    <!-- <div formArrayName="skills">
      <div *ngFor="let skill of skills().controls; let i=index">
        <div [formGroupName]="i">
          {{i}}
          skill name :
          <input type="text" formControlName="skill">
          exp:
          <input type="text" formControlName="exp">
   
          <button (click)="removeSkill(i)">Remove</button>
        </div>
      </div>
    </div> -->
    <!-- <form class="contactform" (ngSubmit)="formsubmit(f)" #f="ngForm">
  
      <div class="row" class="form-group">
        <div class="col-sm-6"> 
          <label>IsMotherTongue*</label>
        <input type="text" [(ngModel)]="item[0].IsMotherTongue" required name="IsMotherTongue" #IsMotherTongue="ngModel" class="form-control" placeholder="IsMotherTongue">
        <span *ngIf="IsMotherTongue.invalid && IsMotherTongue.touched ">it's required</span>   
      </div></div>
  
        <div class="row" class="form-group">
          <div class="col-sm-6">
            <label>LanguageName</label> 
          <select [(ngModel)]="item[0].LanguageName" required name="LanguageName" #LanguageName="ngModel" class="form-control" placeholder="LanguageName">
          <option *ngFor="let item of lang">{{item}}</option>
           
         </select>
          <span *ngIf="LanguageName.invalid && LanguageName.touched ">it's required</span>
        </div></div>
          <div class="row" class="form-group">
            <div class="col-sm-6">
              <label>Listening</label> 
           
            <select [(ngModel)]="item[0].Listening" required name="Listening" #Listening="ngModel" class="form-control" placeholder="Listening">
              <option *ngFor="let item of list">{{item}}</option>
             </select>
            <span *ngIf="Listening.invalid && Listening.touched ">it's required</span>
          </div></div>
            <div class="row" class="form-group">
              <div class="col-sm-6">
                <label>Reading</label> 
              
              <select [(ngModel)]="item[0].Reading" required name="Reading" #Reading="ngModel" class="form-control" placeholder="Reading">
                <option *ngFor="let item of Read">{{item}}</option>
                
               </select>
              <span *ngIf="Reading.invalid && Reading.touched ">it's required</span>
            </div></div>
              <div class="row" class="form-group">
                <div class="col-sm-6">
                  <label>Speaking</label> 
                  <select [(ngModel)]="item[0].Speaking" required name="Speaking" #Speaking="ngModel" class="form-control" placeholder="Speaking">
                  <option *ngFor="let item of sprek">{{item}}</option>
                  
                 </select>
                <span *ngIf="Speaking.invalid && Speaking.touched ">it's required</span>
              </div></div>
                <div class="row" class="form-group">
                  <div class="col-sm-6">
                    <label>Writing</label> 
                 <select [(ngModel)]="item[0].Writing" required name="Writing" #Writing="ngModel" class="form-control" placeholder="Writing">
                  <option selected>select </option>  
                  <option *ngFor="let item of Write">{{item}}</option>
                   </select>
                  <span *ngIf="Writing.invalid && Writing.touched ">it's required</span>  
                </div></div>
                  

<button type="button"   style="margin: 10px;"  (click)="add()" class="btn btn-primary">+Add</button>
<div *ngIf="openform">
<fieldset >

<legend >Add New</legend>
<div class="row" class="form-group">
<div class="col-sm-6"> 
  <label>IsMotherTongue*</label>
<input type="text" [(ngModel)]="item[0].IsMotherTongue" required name="Position" #Position="ngModel" class="form-control" placeholder="Position">
</div></div>

<div class="row" class="form-group">
  <div class="col-sm-6">
    <label>LanguageName</label> 
    <select [(ngModel)]="item[0].LanguageName" required name="LanguageName" #LanguageName="ngModel" class="form-control" placeholder="LanguageName">
      <option *ngFor="let item of lang">{{item}}</option>
       
     </select>
      <span *ngIf="LanguageName.invalid && LanguageName.touched ">it's required</span>    
</div></div>
  <div class="row" class="form-group">
    <div class="col-sm-6">
      <label>Listening</label> 
      <select [(ngModel)]="item[0].Listening" required name="Listening" #Listening="ngModel" class="form-control" placeholder="Listening">
        <option *ngFor="let item of list">{{item}}</option>
       </select>
      <span *ngIf="Listening.invalid && Listening.touched ">it's required</span>
    </div></div>
    <div class="row" class="form-group">
      <div class="col-sm-6">
        <label>Reading</label> 
        <select [(ngModel)]="item[0].Reading" required name="Reading" #Reading="ngModel" class="form-control" placeholder="Reading">
          <option *ngFor="let item of Read">{{item}}</option>
          
         </select>
      </div></div>
      <div class="row" class="form-group">
        <div class="col-sm-6">
          <label>Speaking</label> 
          <select [(ngModel)]="item[0].Speaking" required name="Speaking" #Speaking="ngModel" class="form-control" placeholder="Speaking">
            <option *ngFor="let item of sprek">{{item}}</option>
            
           </select>
          <span *ngIf="Speaking.invalid && Speaking.touched ">it's required</span>
        
        </div></div>
        <div class="row" class="form-group">
          <div class="col-sm-6">
            <label>Writing</label> 
            <select [(ngModel)]="item[0].Writing" required name="Writing" #Writing="ngModel" class="form-control" placeholder="Writing">
              <option [defaultSelected]>select</option>
              <option *ngFor="let item of Write">{{item}}</option>
             </select>
            <span *ngIf="Writing.invalid && Writing.touched ">it's required</span>  
          
          </div></div>
        </fieldset>

      </div>        

      <p class="form-submit">
        <input type="submit" >
        </p>
     </form> -->
  </ng-template>
  </div>
 